<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dotMailer.PrintCampaignsWithActivity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <dotMailer.PrintCampaignsWithActivity.Properties.Settings>
            <setting name="PrintCampaignsWithActivity_dotMailer_ApiService"
                serializeAs="String">
                <value>https://apiconnector.com/v2/Api.svc</value>
            </setting>
        </dotMailer.PrintCampaignsWithActivity.Properties.Settings>
    </applicationSettings>
</configuration>