<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Secure_ApiService" closeTimeout="00:02:00" openTimeout="00:02:00"
                    receiveTimeout="00:15:00" sendTimeout="00:04:00" maxBufferPoolSize="524288"
                    maxBufferSize="8553600" maxReceivedMessageSize="8553600">
                    <readerQuotas maxDepth="32" maxStringContentLength="8553600"
                        maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="PlainHttp_ApiService" closeTimeout="00:02:00"
                    openTimeout="00:02:00" receiveTimeout="00:15:00" sendTimeout="00:04:00"
                    maxBufferPoolSize="524288" maxBufferSize="8553600" maxReceivedMessageSize="8553600">
                    <readerQuotas maxDepth="32" maxStringContentLength="8553600"
                        maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="Secure_ApiService1">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://apiconnector.com/v2/api.svc" binding="basicHttpBinding"
                bindingConfiguration="Secure_ApiService" contract="ApiServiceReference.ApiService"
                name="Secure_ApiService" />
            <endpoint address="http://apiconnector.com/v2/api.svc" binding="basicHttpBinding"
                bindingConfiguration="PlainHttp_ApiService" contract="ApiServiceReference.ApiService"
                name="PlainHttp_ApiService" />
            <endpoint address="https://apiconnector.com/v2/Api.svc" binding="basicHttpBinding"
                bindingConfiguration="Secure_ApiService1" contract="ApiServiceReference.ApiService"
                name="Secure_ApiService1" />
        </client>
    </system.serviceModel>
</configuration>